@font-face {
  font-family: Montserrat;
  src: url(/public/fonts/Montserrat-Bold.ttf);
  src: url(/public/fonts/Montserrat-Medium.ttf);
}

.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat;
}