.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.collapse-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  height: 54px;
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  background: #ff6060;
  color: white;
}

.collapse button {
  background: transparent;
  border: none;
}

.collapse-title {
  display: flex;
  align-items: center;
}

.collapse-container h2 {
  font-size: 24px;
  font-weight: 700;
}

.collapse-animation {
  transition: 0.5s ease-in-out;
}

.rotate-animation {
  transform: rotate(-0.5turn);
}

@keyframes fade {
  from {
    transform: translateY(-100%);
  } to {
    transform: translateY(0);
  }
}

.collapse .fade-animation {
  display: block;
  animation: fade 0.5s ease-in-out forwards;
}

.collapse-infos {
  display: none;
  z-index: 1;
  border-radius: 5px;
  background: rgb(246, 246, 246);
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 1) 75%,
    rgba(246, 246, 246, 0.45281862745098034) 100%
  );
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  font-family: monserrat-regular;
}
