.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin-top: 50px;
}

.header img {
  width: 210px;
  height: 68px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 57px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar ul a.active {
  text-decoration: underline;
 }
